<div class="body">
  <header id="header">
    <nav id="nav" class="nav">
      <div class="mobile-logout">
        <a class="logout_btn" href="#"><i class="fas fa-power-off"></i></a>
      </div>
      <div class="container-nav">
        <h1><span class="heading">My</span>Kanban</h1>
        <ul>
          <li *ngFor="let item of routes">
            <a [routerLink]="item.path" routerLinkActive="active">{{
              item.title
            }}</a>
          </li>
        </ul>
        <div class="desktop-logout">
            <span>Login</span>
            <a class="logout_btn" routerLink="/login" routerLinkActive="active"><i class="fas fa-power-off"></i></a>
        </div>
      </div>
    </nav>
  </header>
  <div class="maincontainer">
    <router-outlet></router-outlet>
  </div>
  <footer id="footer">
    <div class="social">
      <a href="http://facebook.com" target="_blank"
        ><i class="fab fa-facebook fa-2x"></i
      ></a>
      <a href="http://twitter.com" target="_blank"
        ><i class="fab fa-twitter fa-2x"></i
      ></a>
      <a href="http://instagram.com" target="_blank"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>
      <a href="http://youtube.com" target="_blank"
        ><i class="fab fa-youtube fa-2x"></i
      ></a>
    </div>
  </footer>
</div>
